<script type="text/javascript">
//js鏃犵紳婊氬姩浠ｇ爜
var prscrollLeft = -1;
function marquee(i, direction){
	var obj = document.getElementById("marquee" + i);
	var obj1 = document.getElementById("marquee" + i + "_1");
	var obj2 = document.getElementById("marquee" + i + "_2");
	if (direction == "up"){
		if (obj2.offsetTop - obj.scrollTop <= 0){
			obj.scrollTop -= (obj1.offsetHeight + 20);
		}else{
			var tmp = obj.scrollTop;
			obj.scrollTop++;
			if (obj.scrollTop == tmp){
				obj.scrollTop = 1;
			}
		}
	}else{
		if (obj2.offsetWidth - obj.scrollLeft <= 0){
			obj.scrollLeft -= obj1.offsetWidth;
		}else{
		  
			obj.scrollLeft=obj.scrollLeft+1;
			if(prscrollLeft > 1300)
		  {
		    obj.scrollLeft=0;
		  }
			prscrollLeft=obj.scrollLeft;
			
		}
	}
}

function marqueeStart(i, direction){
	var obj = document.getElementById("marquee" + i);
	var obj1 = document.getElementById("marquee" + i + "_1");
	var obj2 = document.getElementById("marquee" + i + "_2");

	obj2.innerHTML = obj1.innerHTML;
	var marqueeVar = window.setInterval("marquee("+ i +", '"+ direction +"')", 20);
	obj.onmouseover = function(){
		window.clearInterval(marqueeVar);
	}
	obj.onmouseout = function(){
		marqueeVar = window.setInterval("marquee("+ i +", '"+ direction +"')", 20);
	}
}
</script>
<div class="content w1200 layout">
  <hr />
  <div class="mb50 layout">
    <div class="fl w1200 gdl_con">
      <div class="layout">
        <h2>华人名医</h2>
        <div id="consult_dep" class="fl gdl_tab ">
          <ul>
            <li class="cur"><a href="javascript:void(0);">全部</a></li>
            <li><a href="javascript:void(0);" class="" data="A">心律失常</a></li>
            <li><a href="javascript:void(0);" class="" data="B">冠心病</a></li>
            <li><a href="javascript:void(0);" class="" data="C">心肌病</a></li>
            <li><a href="javascript:void(0);" class="" data="D">先天性心脏病</a></li>
            <li><a href="javascript:void(0);" class="" data="E">心脏瓣膜病</a></li>
            <li><a href="javascript:void(0);" class="" data="F">心包疾病</a></li>
            <li><a href="javascript:void(0);" class="" data="G">心力衰竭</a></li>
          </ul>
        </div>
        <a href="" class="fr more "> <span>更多医生</span> <i class="more_i g_icon"></i> </a> </div>
      <div  id="marquee1"  class="layout cons">
       <div style="width:8000px;">
        <ul id="marquee1_1">
           <% @doctors.each do |doctor| %>
          <li>
            <div class="layout mt20"><a href="/hryisheng/doctor.action?id=<%=doctor.doctor_id%>&usedId=<%= @userid%>&username=<%= @username%>" class="fl c_doca">
              <% if doctor.avatar.include? "http" %>  
              <img oncontextmenu="return(false);" src="<%= doctor.avatar%>" alt="" width="90" height="100">
              <% else %>
              <img oncontextmenu="return(false);" src="<%= doctor.avatar%>" alt="" width="90" height="100">
                <% end %>  
              </a>
              <div class="fl d_info">
                <p><a href="/hryisheng/doctor.action?id=<%=doctor.doctor_id%>&usedId=<%= @userid%>&username=<%= @username%>" class="d_name"><%= doctor.name%></a></p>
                <p class="fs12 gray_1"><%= doctor.rank%></p>
              </div>
            </div>
            <div class="mt20 d_hos">
              <p class=""><a href="" class="hos_n word_hid"><%= doctor.hospital%></a><a href="" class="gray_1 dep_n word_hid"><%= doctor.room%></a></p>
              <p class="fs12 gray_1 mt8 d_det"><%= doctor.speciality%></p>
            </div>
            <div class="doc_bottom"><a href="/hryisheng/doctor.action?id=<%=doctor.doctor_id%>&usedId=<%= @userid%>&username=<%= @username%>" ><span class="btn btn_con fl">爱心咨询</span></a><a href="/hryisheng/doctor.action?id=<%=doctor.doctor_id%>&usedId=<%= @userid%>&username=<%= @username%>"><span class="btn btn_con fr">有偿咨询</span></a></div>
          </li>
          <% end %> 
        </ul>
         <ul id="marquee1_2">
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">marqueeStart(1, "left");</script>
